@using brandlessBar.Data.Models
@{
	Cocktail cocktail;
}

<!DOCTYPE html>

<html>
<head>
	<title></title>
</head>
<body>
<div>

	<div class="col">
		<div class="card shadow-sm">
			
			<a></a>
			

		</div>
	</div>
</div>
</body>
</html>